{#
  Temporary duplication of variables defined in unified-theme/helpers until we have a fix for the issue
  where the variables are not readable when theme settings are adjusted
#}

{% set section_width_narrow = "768" %}
{% set section_width_medium = "1120" %}
{# This is set as the default in theme styles - no need to apply the value #}
{% set section_width_wide = "1296" %}

{% set section_vertical_spacing_extra_small = "48px" %}
{% set section_vertical_spacing_small = "64px" %}
{# This is set as the default in theme styles - no need to apply the value #}
{% set section_vertical_spacing_medium = "96px" %}
{% set section_vertical_spacing_large = "128px" %}
{% set section_vertical_spacing_extra_large = "192px" %}

{# Default section left/right padding #}
{% set section_horizontal_spacing = "32px" %}

{# Spacing #}

{% set grid_gap_extra_small = "16px" %}
{% set grid_gap_small = "24px" %}
{% set grid_gap_medium = "32px" %}
{% set grid_gap_large = "64px" %}
{% set grid_gap_extra_large = "96px" %}

{% set spacing_4 = "4px" %}
{% set spacing_8 = "8px" %}
{% set spacing_12 = "12px" %}
{% set spacing_16 = "16px" %}
{% set spacing_20 = "20px" %}
{% set spacing_24 = "24px" %}
{% set spacing_32 = "32px" %}
{% set spacing_40 = "40px" %}
{% set spacing_48 = "48px" %}
{% set spacing_56 = "56px" %}
{% set spacing_64 = "64px" %}
{% set spacing_72 = "72px" %}
{% set spacing_80 = "80px" %}
{% set spacing_88 = "88px" %}
{% set spacing_96 = "96px" %}
{% set spacing_104 = "104px" %}
{% set spacing_112 = "112px" %}
{% set spacing_120 = "120px" %}
{% set spacing_128 = "128px" %}
{% set spacing_136 = "136px" %}
{% set spacing_144 = "144px" %}
{% set spacing_152 = "152px" %}
{% set spacing_160 = "160px" %}
{% set spacing_168 = "168px" %}
{% set spacing_176 = "176px" %}
{% set spacing_184 = "184px" %}
{% set spacing_192 = "192px" %}

{# End temporary duplication #}

:root {

    /* HubSpot DND layout grid */
    --hsElevate--column__gap: 2.13%;
    --hsElevate--column__widthMultiplier: 8.333;

    /* Sections */
    --hsElevate--contentWrapper--narrow__maxWidth: {{ section_width_narrow ~ "px" }};
    --hsElevate--contentWrapper--medium__maxWidth: {{ section_width_medium ~ "px" }};
    --hsElevate--contentWrapper--wide__maxWidth: {{ section_width_wide ~ "px" }};

    --hsElevate--section--extraSmall__verticalPadding: {{ section_vertical_spacing_extra_small }};
    --hsElevate--section--small__verticalPadding: {{ section_vertical_spacing_small }};
    --hsElevate--section--medium__verticalPadding: {{ section_vertical_spacing_medium }};
    --hsElevate--section--large__verticalPadding: {{ section_vertical_spacing_large }};
    --hsElevate--section--extraLarge__verticalPadding: {{ section_vertical_spacing_extra_large }};

    /* Default section left/right padding */
    --hsElevate--section--horizontalPadding: {{ section_horizontal_spacing }};

    /* Gap - default gaps that could be easily leveraged in module styles via class names */
    --hsElevate--gap--extraSmall: {{ grid_gap_extra_small }};
    --hsElevate--gap--small: {{ grid_gap_small }};
    --hsElevate--gap--medium: {{ grid_gap_medium }};
    --hsElevate--gap--large: {{ grid_gap_large }};
    --hsElevate--gap--extraLarge: {{ grid_gap_extra_large }};

    /* Spacing - default spacing values  */
    --hsElevate--spacing--4: {{ spacing_4 }};
    --hsElevate--spacing--8: {{ spacing_8 }};
    --hsElevate--spacing--12: {{ spacing_12 }};
    --hsElevate--spacing--16: {{ spacing_16 }};
    --hsElevate--spacing--20: {{ spacing_20 }};
    --hsElevate--spacing--24: {{ spacing_24 }};
    --hsElevate--spacing--32: {{ spacing_32 }};
    --hsElevate--spacing--40: {{ spacing_40 }};
    --hsElevate--spacing--48: {{ spacing_48 }};
    --hsElevate--spacing--56: {{ spacing_56 }};
    --hsElevate--spacing--64: {{ spacing_64 }};
    --hsElevate--spacing--72: {{ spacing_72 }};
    --hsElevate--spacing--80: {{ spacing_80 }};
    --hsElevate--spacing--88: {{ spacing_88 }};
    --hsElevate--spacing--96: {{ spacing_96 }};
    --hsElevate--spacing--104: {{ spacing_104 }};
    --hsElevate--spacing--112: {{ spacing_112 }};
    --hsElevate--spacing--120: {{ spacing_120 }};
    --hsElevate--spacing--128: {{ spacing_128 }};
    --hsElevate--spacing--136: {{ spacing_136 }};
    --hsElevate--spacing--144: {{ spacing_144 }};
    --hsElevate--spacing--152: {{ spacing_152 }};
    --hsElevate--spacing--160: {{ spacing_160 }};
    --hsElevate--spacing--168: {{ spacing_168 }};
    --hsElevate--spacing--176: {{ spacing_176 }};
    --hsElevate--spacing--184: {{ spacing_184 }};
    --hsElevate--spacing--192: {{ spacing_192 }};

    /* Grids */
    --default-section-padding: var(--hsElevate--section--medium__verticalPadding) var(--hsElevate--section--horizontalPadding);
    --default-section-margin: 0;
    --default-section-max-width: var(--hsElevate--contentWrapper--wide__maxWidth);
    --default-container-padding: 0;
    --default-container-margin: 0;
    --default-container-gap: var(--hsElevate--gap--medium);
    --default-container-row-gap: var(--hsElevate--gap--medium);
    --default-container-column-gap: var(--hsElevate--gap--medium);
    --default-table-padding: 0;
    --default-table-margin: 0;
    --default-table-row-gap: var(--hsElevate--gap--medium);
    --default-table-column-gap: var(--hsElevate--gap--medium);
}
