/**
*  These styles with the ".module" in the filename do make the classes unique
*  and will be applied to the elements where they are included.
*  Helpful to keep CSS from bleeding from one element to another.
*/


.BannerButton a {
  padding: var(--hsElevate--spacing--16) var(--hsElevate--spacing--24);
}